{% macro translations_for(article) %}
{% if article.translations %}
<span class="label label-default">
	<i class="fa fa-globe"></i>
	{% trans %}Translations{% endtrans %}</span>
{% for translation in article.translations %}
	<a class="btn btn-sm" href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
{% endfor %}
	<a href="mailto:opendata@bar.admin.ch?subject=OGD-Handbook+translate+{{ article.slug }}">
		<em>{% trans %}Translations are not available everywhere yet: let us know if you need this content in your language.{% endtrans %}</em>
	</a>
<br>
{% endif %}
{% endmacro %}
