{% macro translations_for(category) %}
	{% if category|trim|lower == "identify" %}
		{% trans %}Identify{% endtrans %}
	{% elif category|trim|lower == "establish" %}
		{% trans %}Establish{% endtrans %}
	{% elif category|trim|lower == "publish" %}
		{% trans %}Publish{% endtrans %}
	{% elif category|trim|lower == "support" %}
		{% trans %}Support{% endtrans %}
	{% elif category|trim|lower == "library" %}
		{% trans %}Library{% endtrans %}
	{% else %}
		{{ category }}
	{% endif %}
{% endmacro %}
