<footer class="container page-footer">
	<div class="row top-buffer">
		<div class="col-md-2 col-xs-4">
			<div class="btn-group">
				<button type="button" id="lang-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="name">Deutsch</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" id="lang-switch">
					<li lang="de"><a href="/de/pages/index">Deutsch</a></li>
					<li lang="it"><a href="/it/pages/index">Italiano</a></li>
					<li lang="fr"><a href="/fr/pages/index">Français</a></li>
					<li lang="en"><a href="/en/pages/index">English</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<p>
				{% trans %}The Swiss Open Government Data (OGD) Handbook is being developed on the basis of documentation and reports produced during the OGD Switzerland project. This is an evolving knowledge base providing central access to learning resources supporting individuals with responsibilities for data publishing at government offices nationwide.{% endtrans %}
			</p>
		</div>
	</div>
	<div id="logos" class="row top-buffer">
		<div class="col-xs-12">
			<img class="logo-confederation" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/ogdch/logo-confederation.png" />
			<img class="logo-egovernment" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/ogdch/logo-egovernment.png" />
		</div>
	</div>
</footer>
