<footer class="container page-footer">
	<div class="row top-buffer">
		<div class="col-md-2 col-xs-12">
			<div class="btn-group">
				<button type="button" id="lang-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="name">Deutsch</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" id="lang-switch">
					<li lang="de"><a href="/de/pages/index">Deutsch</a></li>
					<li lang="it"><a href="/it/pages/index">Italiano</a></li>
					<li lang="fr"><a href="/fr/pages/index">Français</a></li>
					<li lang="en"><a href="/en/pages/index">English</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-2 col-xs-6">
			<ul class="list-unstyled">
				<li><a href="/en/pages/contribute">{% trans %}Contribute{% endtrans %}</a></li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-6">
			<ul class="list-unstyled">
				<li><a href="mailto:opendata@bar.admin.ch?subject=OGD-Handbook">{% trans %}Contact us{% endtrans %}</a></li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-6">
			<ul class="list-unstyled">
				<li><a href="https://opendata.swiss/{{ DEFAULT_LANG }}/legal-framework/">{% trans %}Legal notice{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-xs-12">
			<p>
{% trans %}The Swiss Open Government Data (OGD) Handbook is being developed based on documentation produced by the OGD Switzerland project, and additional established references. As the knowledge base for opendata.swiss, it provides central access to learning resources: supporting individuals with responsibilities for data publishing at government offices nationwide, and open data publishers in general. The Swiss Federal Archives operates the OGD Handbook.{% endtrans %}
			</p>
		</div>
	</div>
	<div id="logos" class="row top-buffer">
		<div class="col-xs-12">
			<img class="logo-confederation" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/ogdch/logo-confederation.png" />
			<img class="logo-egovernment" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/ogdch/logo-egovernment.png" />
		</div>
	</div>
</footer>
