<nav class="navbar navbar-default" id="main-navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://ogdch.begasoft.ch/en">
				<img src="http://ogdch.begasoft.ch/content/themes/wp-ogdch-theme/assets/images/logo.svg" class="navbar-brand-image hidden-xs hidden-sm " alt="opendata.swiss" title="opendata.swiss" />
				<img src="http://ogdch.begasoft.ch/content/themes/wp-ogdch-theme/assets/images/logo_horizontal.svg" class="navbar-brand-image hidden-md hidden-lg " alt="opendata.swiss" title="opendata.swiss" />
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="main-navigation-collapse" role="navigation">
			<div class="menu-mainnavigation-en-container"><ul id="menu-mainnavigation-en" class="nav navbar-nav navbar-right"><li id="menu-item-237" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-237"><a href="/en/dataset">Data</a></li>
<li id="menu-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238"><a href="/en/organization">Organizations</a></li>
<li id="menu-item-239" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-239"><a href="/en/app/">Applications</a></li>
<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="http://ogdch.begasoft.ch/en/about/">About</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-165 current_page_item menu-item-180 active ">
	<a href="{{ SITEURL }}">Support</a></li>
<li class="search"><a href="/en/dataset" title="Search"><i class="fa fa-search" aria-hidden="true"></i></a></li></ul></div>		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
