<nav class="navbar navbar-default" id="main-navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/theme/ogdch/handbook_logo.svg" class="navbar-brand-image hidden-xs hidden-sm" alt="Logo" title="handbook.opendata.swiss" />
				<img src="/theme/ogdch/handbook_horizontal.svg" class="navbar-brand-image hidden-md hidden-lg" alt="Logo" title="handbook.opendata.swiss" />
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="main-navigation-collapse" role="navigation">
			<div class="menu-mainnavigation-en-container"><ul id="menu-mainnavigation-en" class="nav navbar-nav navbar-right">
				<li id="menu-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238">
					<a href="/category/identify" class="lang-de">Identifizieren</a>
					<a href="/category/identify" class="lang-en hidden">Identify</a>
				</li>
				<li id="menu-item-239" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-239">
					<a href="/category/legal" class="lang-de">Etablieren</a>
					<a href="/category/legal" class="lang-en hidden">Establish</a>
				</li>
				<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287">
					<a href="/category/publish" class="lang-de">Publizieren</a>
					<a href="/category/publish" class="lang-en hidden">Publish</a>
				</li>
				<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180">
					<a href="/category/support" class="lang-de">Supporten</a>
					<a href="/category/support" class="lang-en hidden">Support</a>
				</li>
				<li id="menu-item-237" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-237">
					<a href="http://ogdch.begasoft.ch/"><span class="logo-color">opendata</span>.swiss</a></li>
				<!--<li class="search">
					<a href="{{ SITEURL }}/search.html" title="Search"><i class="fa fa-search" aria-hidden="true"></i></a></li>-->
			</ul></div><!-- /.menu-mainnavigation-en-container -->
<!--
			<div id="navbar-search"><span>
				<form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
					<input type="search" class="search-query" placeholder="Search" name="q" id="tipue_search_input">
				</form>
			</span></div> -->

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
