{% extends "base.html" %}
{% block content %}
    {% if articles %}
      <div class="row article-list">
        <article class="col-md-4">
          <div class="wrapper">
            <span class="category-banner category-{{ category|lower }}"></span>
          </div>
        </article>
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <a href="{{ SITEURL }}/{{ article.url }}">
          <article class="col-md-4">
            <div class="wrapper">
              <h2>{{ article.title }}</h2>
              {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                  <div class="well well-sm">
                      {% include "ogdch/article_info.html" %}
                  </div>
              {% endif %}
              <div class="summary">{{ article.summary }}
                  {% include 'includes/comment_count.html' %}
                  <span class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</span>
              </div>
            </div>
          </article>
        </a>
        {% endfor %}
      </div>

      <div class="category-next">
        {% import 'ogdch/categories.html' as categories with context -%}
        {% set next_category = categories.next_category(category) -%}
        <a href="{{ SITEURL }}/category/{{ next_category|lower }}">
          <span class="category-banner category-{{ next_category|lower }}"></span>
          <h5>
            {{ next_category }}
            &gt;&gt;
          </h5>
        </a>
      </div>
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
