{% extends "article_list.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}
{% block breadcrumbs %}
    <header class="page-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12">
            {% if DISPLAY_BREADCRUMBS %}
  					<ol class="breadcrumb">
              <li class="item-home"><a class="bread-link bread-home" href="{{ SITEURL }}/" title="{{ SITENAME }}">{{ SITENAME }}</a></li>
  					</ol>
            {% endif %}
  					<h1>
              {% if category|trim|lower == "identify" %}
                <span class="lang-de">Identifizieren</span>
                <span class="lang-en">Identify</span>
              {% elif category|trim|lower == "legal" %}
                <span class="lang-de">Etablieren</span>
                <span class="lang-en">Establish</span>
              {% elif category|trim|lower == "publish" %}
                <span class="lang-de">Publizieren</span>
                <span class="lang-en">Publish</span>
              {% elif category|trim|lower == "support" %}
                <span class="lang-de">Supporten</span>
                <span class="lang-en">Support</span>
              {% else %}
                {{ category }}
              {% endif %}
            </h1>
  				</div>
  			</div>
  		</div>
  	</header>
{% endblock %}
