{% extends "article_list.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}
{% block breadcrumbs %}
    <header class="page-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12">
  					{% if 'tipue_search' in PLUGINS %}
  						<div style="float:right"><span>
  							<form class="navbar-search" action="{{ SEARCH_URL | default('/search.html') }}">
  								<input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input" required>
  							</form></span>
  						</div>
  					{% endif %}
            {% if DISPLAY_BREADCRUMBS %}
  					<ol class="breadcrumb">
  						<li class="item-home"><a class="bread-link bread-home" href="http://ogdch.begasoft.ch/de" title="Startseite">Startseite</a></li>
							<li class="item-2"><a href="{{ SITEURL }}" title="{{ SITENAME }}">{{ SITENAME }}</a></li>
							<li class="item-3 active"><a href="{{ SITEURL}}/{{ CATEGORIES_URL }}" title="{{ SITENAME }} Categories">Categories</a></li>
  					</ol>
            {% endif %}
  					<h1>
              {{ category }}
  					</h1>
  				</div>
  			</div>
  		</div>
  	</header>
{% endblock %}
